.App {
  font-family: sans-serif;
  text-align: center;
}
ul.react-multi-carousel-track li:nth-child(1) .ant-card:nth-child(1) {
  margin-left: 50px;
}
ul.react-multi-carousel-track .ant-card {
  margin: 0 5px;
  transform: scale(0.5);
  box-sizing: border-box;
  padding: 15px;
  color: rgba(0, 0, 0, 0.85);
  font-size: 14px;
  font-variant: tabular-nums;
  line-height: 1.5715;
  list-style: none;
  font-feature-settings: 'tnum';
  position: relative;
  background: #fff;
  border-radius: 2px;

}

button {
  display: inline-block;
  background-color: #0d647d;
  color: #ffffff !important;
  outline: none;
  box-shadow: none;
  border-radius: 6px;
  min-width: 40px;
}


ul.carousel-container {
  width: 100%;

}

.ant-carousel {
  box-sizing: border-box;
  margin: 0;
  color: rgba(0, 0, 0, 0.85);
  font-size: 14px;
  font-variant: tabular-nums;
  border-radius: 25px;
  padding: 5px 5px 5px 10px;
  line-height: 1.5715;
  list-style: none;
  font-feature-settings: 'tnum';
  max-height: 50%;
  min-height: 50%;
}

.image {
  height: 100px;
}

